<div class="container">
  <h2>Basic Card</h2>
  <div *ngFor="let a of data" class="card" draggable="true" (dragstart)="onDragStart($event, a)" (dragover)="allowDrop($event)" (drop)="onDrop($event,a)">
    <div class="card-body">Basic card X
      <span class="pull-right"><i class="fa fa-times" (click)="click(a)" > close </i></span>
      <div *ngFor="let b of a" class="card">
        <div class="card-body">Basic card y
          <span class="pull-right"><i class="fa fa-times" (click)="click(a)" > close </i></span>
        </div>
      </div>
    </div>
  </div>
</div>