<div class="container">
  <h2>Basic Card</h2>
  <div *ngFor="let a of data" class="card card-content" draggable="true" (dragstart)="onDragStart($event, a)" (dragover)="allowDrop($event)" (drop)="onDrop($event,a)">
    <div class="card-body">{{a.PersonName}}
      <span class="pull-right"><i class="fa fa-times" (click)="click(a)" >&times;</i></span>
      <div *ngFor="let b of a.childData" class="card card-content">
        <div class="card-body">{{b.PersonName}}
          <span class="pull-right"><i class="fa fa-times" (click)="click(b)" >&times;</i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Object Details</h2>
  <div class="card card-content">
    {{displayData | json}}
  </div>
</div>

